<div class="box">
  <h4>
    {{rank.title}}
<!--    <button nz-button appDlPic nzType="primary" nzSize="small" [name]="rank.title" [path]="rank.download">下载本月节奏榜</button>-->
  </h4>
  <div class="ranking">
    <div class="score">
      <div class="line" *ngFor="let item of rank.rank">
        <div class="item">
          {{item.score}}
        </div>
      </div>
    </div>
    <div class="avatarList">
      <div class="avatarListBox" [ngStyle]="{width: maxWidth * 80 + 'px'}">
        <div class="line" *ngFor="let item of rank.rank">
          <div class="lineBox" *ngIf="item.type === 'score'">
            <div class="item" *ngFor="let card of item.detail" [appBorder]="card.attr.key" nz-popover [nzContent]="card.name" (click)="selectItem(card.id)">
              <img class="avatar" [src]="card.avatar" [alt]="card.name">
            </div>
          </div>
          <div class="lineBox" *ngIf="item.type === 'describe'">
            {{item.describe}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nz-modal nzTitle="卡牌详情"
          [(nzVisible)]="openModal"
          [nzFooter]="null" [nzStyle]="{ top: '40px' }"
          [nzBodyStyle]="{height: '80vh',overflow: 'scroll'}"
          (nzOnCancel)="closeModalFunc()">
  <app-resolve class="right" [selectedId]='selectedId'></app-resolve>
</nz-modal>