<div class="body">
  <p>我们网站是整个节奏团为爱发电，由成员整理资料，由我将资料转换成方便网站展示的格式，并且完成制作了整个网站。整个网站所有数据、资料、评测是免费给所有用户阅读的</p>
  <p>但是考虑到整个网站的整洁，我们不想在网站内增加广告浪费来阅读者的流量。如果您觉得网站的数据内容不错，对自己有所帮助的话，可以赞助我们节奏团成员喝一杯咖啡。您赞助的费用会分给圆桌内每一位成员</p>
  <div class="qrCode">
    <p>赞助须知：请务必在备注中留下自己的称呼（网名，圈名，cn等），方便我们后续将您的赞助展示出来</p>
    <div class="imgBox">
      <img src="/assets/other/alipay.jpg" alt="支付宝">
      <img src="/assets/other/wx.jpg" alt="微信">
    </div>
  </div>
  <p class="center">当然即使不赞助也没有关系！您来本网站查阅资料，已经是对我们莫大的支持</p>
  <p class="center">我们会定期更新，将赞助过本站的所有人都更新到本站上</p>
</div>