<div style="padding:30px;">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="圆桌节奏团简介">
        <p>©圆桌节奏团成立于2018年6月8日。节奏团主要负责每月血族的卡牌强度排行榜（节奏榜）,和新卡测评，卡牌数据整理等攻略内容</p>
        <p>团长：过过（本数据资料站站长）</p>
        <p>团员：寒寒，菊花，氪狗，龙二，流萤，北斗，松风，小雨，二痕（排名不分先后）</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="联系我们">
        <p>反馈bug或者联系我们请使用以下联系方式</p>
        <p><a routerLink="/supportUs">赞助我们</a> 大家的支持就是我们最大的动力</p>
        <p>QQ：335631892（过过的qq）</p>
        <p>QQ群：627969179（寒寒的血族交流群）</p>
        <p>Email：s335631892@icloud.com</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="版权声明">
        <p>游戏内所有卡面，截图信息版权归<a href="http://blood.sdo.com/web3/home/index.html" target="_blank">血族手游官方</a>和贡献截图的玩家所有</p>
        <p>站内数据资料，攻略等内容版权归圆桌节奏团所有</p>
        <p>请勿二次加工本站数据和攻略用于商业用途</p>
      </nz-card>
    </div>
  </div>
</div>
