.footer{
  background-color: #001529;
  color: #eee;
  height: 64px;
  line-height: 64px;
  font-size: 16px;
  padding: 0 20px;
  .aboutUs{
    cursor: pointer;
  }
  .right{
    float: right;
    margin-top: 14px;
  }
}