.img {
  width: 100%;
}
@media screen and (min-width:481px) {
  .skill {
    width: 100%;
    height: calc(100vh - 245px);
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .card {
    width: 100%;
    height: calc(100vh - 305px);
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media screen and (max-width:480px) {

}