.img {
  width: 100%;
}
.para{
  margin-bottom: 6px;
}
@media screen and (min-width:481px) {
  .resolve{
    width: 100%;
    height: calc(100vh - 305px);
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .skill {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: calc(100vh - 245px);
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: calc(100vh - 305px);
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media screen and (max-width:480px) {

}