<div>
  <nz-tabset *ngIf="selectedId" [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab nzTitle="单卡评测">
      <nz-tabset>
        <nz-tab *ngFor="let item of selectedCard.resolves" [nzTitle]="'作者：' + item.auth">
          <div class="resolve">
            评测日期：{{item.date}}
            <br>
            <br>
            <p *ngFor="let para of item.paragraph" class="para">{{para}}</p>
          </div>
        </nz-tab>
      </nz-tabset>
    </nz-tab>
    <nz-tab nzTitle="查看技能">
      <div class="skill">
        <img [src]="selectedCard.skill" [alt]="selectedCard.name + '技能'" class="img">
      </div>
    </nz-tab>
    <nz-tab nzTitle="极限面板">
      <nz-tabset>
        <nz-tab *ngFor="let card of selectedCard.card" [nzTitle]="card.type">
          <div class="card">
            <img [src]="card.src" [alt]="selectedCard.name + '面板'" class="img">
          </div>
        </nz-tab>
      </nz-tabset>
    </nz-tab>
  </nz-tabset>
  <div *ngIf="!selectedId">
    请选择卡牌
  </div>
</div>
