.body{
  height: 100%;
  width: 100%;
  @media screen and (min-width:481px) {
    .swiper{
      height: 30%;
      [nz-carousel-content] {
        height: 100%;
        text-align: center;
        line-height: 160px;
        background: #364d79;
        color: #fff;
        overflow: hidden;
      }
      ::ng-deep {
        .slick-slider{
          height: 100%;
          .slick-list{
            height: 100%;
            .slick-track{
              height: 100%;
            }
          }
        }
      }
      h3 {
        color: #fff;
        text-align: center;
      }
    }
    .card{
      height: 70%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      .item{
        width: 20vw;
        margin: 0 5vw;
        height: 200px;
        line-height: 200px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s;
        &:hover{
          margin-top: -10px;
          box-shadow: 0 10px 10px 2px #bbb;
        }
      }
    }
  }
  @media screen and (max-width:480px) {
    .swiper{
      height: 30%;
      [nz-carousel-content] {
        height: 100%;
        text-align: center;
        line-height: 40px;
        background: #364d79;
        color: #fff;
        overflow: hidden;
      }
      ::ng-deep {
        .slick-slider{
          height: 100%;
          .slick-list{
            height: 100%;
            .slick-track{
              height: 100%;
            }
          }
        }
      }
      h3 {
        color: #fff;
        text-align: center;
      }
    }
    .card{
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .item{
        width: 60vw;
        margin: 0 auto;
        height: 80px;
        line-height: 80px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s;
      }
    }
  }
}